src/main/resources/hotel.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost:8080"
           targetNamespace="http://localhost:8080" elementFormDefault="qualified">

    <!-- ==================================== basic method ==================================== -->

    <xs:element name="infoRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="infoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="info" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==================================== hotel endpoints method ==================================== -->

    <!-- add hotel request endpoints  -->
    <xs:element name="addHotelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotel" type="tns:hotelRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- update hotel request endpoints -->
    <xs:element name="updateHotelRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="hotel" type="tns:hotelRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- delete hotel by id request endpoints -->
    <xs:element name="deleteHotelByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get hotel by id request endpoints -->
    <xs:element name="findHotelByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get hotel by id response endpoints -->
    <xs:element name="findHotelByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotel" type="tns:hotelResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all hotel request endpoints -->
    <xs:element name="findAllHotelsRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all hotel response endpoints -->
    <xs:element name="findAllHotelsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="hotelList" type="tns:hotelResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- hotel data request type -->
    <xs:complexType name="hotelRequest">
        <xs:sequence>
            <xs:element name="hotelName" type="xs:string"/>
            <xs:element name="hotelImagePath" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- hotel data response type -->
    <xs:complexType name="hotelResponse">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="hotelName" type="xs:string"/>
            <xs:element name="hotelImagePath" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==================================== user endpoints method ==================================== -->

    <!-- add user request endpoints -->
    <xs:element name="addUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:userRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- add user response endpoints -->
    <xs:element name="addUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="info" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- update user request endpoints -->
    <xs:element name="updateUserRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="user" type="tns:userRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- update user response endpoints -->
    <xs:element name="updateUserResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="info" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- delete user by id request endpoints -->
    <xs:element name="deleteUserByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- delete user by id response endpoints -->
    <xs:element name="deleteUserByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="info" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get user by id request endpoints -->
    <xs:element name="findUserByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get user by id response endpoints -->
    <xs:element name="findUserByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:userResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all user request endpoints -->
    <xs:element name="findAllUsersRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all user response endpoints -->
    <xs:element name="findAllUsersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="usersList" type="tns:userResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- user data request type -->
    <xs:complexType name="userRequest">
        <xs:sequence>
            <xs:element name="userName" type="xs:string"/>
            <xs:element name="userLastName" type="xs:string"/>
            <xs:element name="userLogin" type="xs:string"/>
            <xs:element name="userPassword" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- user data response type -->
    <xs:complexType name="userResponse">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="userName" type="xs:string"/>
            <xs:element name="userLastName" type="xs:string"/>
            <xs:element name="userLogin" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==================================== auth endpoints method ==================================== -->

    <!-- login request endpoints -->
    <xs:element name="loginRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- login response endpoints -->
    <xs:element name="loginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="isAdmin" type="xs:boolean"/>
                <xs:element name="user" type="tns:userResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- register request endpoints -->
    <xs:element name="registerRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" type="tns:userRegisterRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- change password request endpoints -->
    <xs:element name="changePasswordRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="oldPassword" type="xs:string"/>
                <xs:element name="newPassword" type="xs:string"/>
                <xs:element name="confirmPassword" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- user register data request type -->
    <xs:complexType name="userRegisterRequest">
        <xs:sequence>
            <xs:element name="userName" type="xs:string"/>
            <xs:element name="userLastName" type="xs:string"/>
            <xs:element name="userLogin" type="xs:string"/>
            <xs:element name="userPassword" type="xs:string"/>
            <xs:element name="userConfirmPassword" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==================================== room endpoints method ==================================== -->

    <!-- add room request endpoints  -->
    <xs:element name="addRoomRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="room" type="tns:roomRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- update room request endpoints -->
    <xs:element name="updateRoomRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="room" type="tns:roomRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- delete room by id request endpoints -->
    <xs:element name="deleteRoomByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get room by id request endpoints -->
    <xs:element name="findRoomByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get room by id response endpoints -->
    <xs:element name="findRoomByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="room" type="tns:roomResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all room request endpoints -->
    <xs:element name="findAllRoomsRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all room response endpoints -->
    <xs:element name="findAllRoomsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="roomList" type="tns:roomResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all room by hotel id request endpoints -->
    <xs:element name="findAllRoomsByHotelIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hotelId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all room by hotel id response endpoints -->
    <xs:element name="findAllRoomsByHotelIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="roomList" type="tns:roomResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- room data request type -->
    <xs:complexType name="roomRequest">
        <xs:sequence>
            <xs:element name="roomDescription" type="xs:string"/>
            <xs:element name="roomImagePath" type="xs:string"/>
            <xs:element name="roomName" type="xs:string"/>
            <xs:element name="roomPrice" type="xs:double" nillable="true"/>
            <xs:element name="roomQuantityOfPeople" type="xs:int" nillable="true"/>
            <xs:element name="hotelId" type="xs:int"/>
            <xs:element name="roomBathroom" type="xs:boolean" nillable="true"/>
            <xs:element name="roomDesk" type="xs:boolean" nillable="true"/>
            <xs:element name="roomFridge" type="xs:boolean" nillable="true"/>
            <xs:element name="roomSafe" type="xs:boolean" nillable="true"/>
            <xs:element name="roomTv" type="xs:boolean" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

    <!-- room data response type -->
    <xs:complexType name="roomResponse">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="roomDescription" type="xs:string"/>
            <xs:element name="roomImagePath" type="xs:string"/>
            <xs:element name="roomName" type="xs:string"/>
            <xs:element name="roomPrice" type="xs:double"/>
            <xs:element name="roomQuantityOfPeople" type="xs:int"/>
            <xs:element name="assortmentId" type="xs:int"/>
            <xs:element name="hotelId" type="xs:int"/>
            <xs:element name="roomBathroom" type="xs:boolean"/>
            <xs:element name="roomDesk" type="xs:boolean"/>
            <xs:element name="roomFridge" type="xs:boolean"/>
            <xs:element name="roomSafe" type="xs:boolean"/>
            <xs:element name="roomTv" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==================================== reservation endpoints method ==================================== -->

    <!-- add reservation request endpoints  -->
    <xs:element name="addReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservationRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- update reservation request endpoints -->
    <xs:element name="updateReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="reservation" type="tns:reservationRequest"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- delete reservation by id request endpoints -->
    <xs:element name="deleteReservationByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="reservationId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get reservation by id request endpoints -->
    <xs:element name="findReservationByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
                <xs:element name="reservationId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get reservation by id response endpoints -->
    <xs:element name="findReservationByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="room" type="tns:roomResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all reservation request endpoints -->
    <xs:element name="findAllReservationsRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all reservation response endpoints -->
    <xs:element name="findAllReservationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="reservationList" type="tns:reservationResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all reservation by user id request endpoints -->
    <xs:element name="findAllReservationsByUserIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- get all reservation by user id response endpoints -->
    <xs:element name="findAllReservationsByUserIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="reservationList" type="tns:reservationResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- reservation request endpoints -->
    <xs:complexType name="reservationRequest">
        <xs:sequence>
            <xs:element name="roomId" type="xs:int"/>
            <xs:element name="userId" type="xs:int"/>
            <xs:element name="roomReservationFrom" type="xs:date"/>
            <xs:element name="roomReservationTo" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

    <!-- reservation data request type -->
    <xs:complexType name="reservationResponse">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="roomId" type="xs:int"/>
            <xs:element name="userId" type="xs:int"/>
            <xs:element name="roomReservationFrom" type="xs:date"/>
            <xs:element name="roomReservationTo" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
